<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

    <link rel="shortcut icon" sizes="32x32" href="./rosbank_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/MainStyles.css">
</head>
<body>
<script type="text/babel">

    class MinutesModalWindow extends React.Component{

        constructor(props){
            super(props);

            this.handleClickOutside = this.handleClickOutside.bind(this);
            this.setWrapperRef = this.setWrapperRef.bind(this);
        }

        componentDidMount() {
            document.addEventListener('mousedown', this.handleClickOutside);
        }

        componentWillUnmount() {
            document.removeEventListener('mousedown', this.handleClickOutside);
        }

        setWrapperRef(node) {
            this.wrapperRef = node;
        }

         handleClickOutside(event) {
            if (this.wrapperRef && !this.wrapperRef.contains(event.target)) {
                console.log('I am in');
                this.props.clickHandler()
            }
        }


        render(){
            return(
                <div ref={this.setWrapperRef}
                    style= {{display : this.props.flag ? 'block' : 'none'}}
                    className = "Modal"
                >
                    <img src="close.svg" className="Icon"/>
                    <a href = "mm_list.html">
                    <button claassName="ModalButton">Мои отчеты по встречам</button>
                     </a>
                    <a href="create_mm.html">
                    <button className="ModalButton">Создать новый отчет</button>
                    </a>
                </div>
            )
        }
    }

    class MenuElement extends React.Component{

        render(){
            return(
                <div className = {this.props.className}>
                <a href={this.props.link} onClick={this.props.onClick}>
                    <h3>{this.props.header}</h3>
                    <p>{this.props.description}</p>
                </a>
                </div>
            )
        }
    }

    class MainPage extends React.Component{
        constructor(props){
            super(props);

            this.state = {shown: false};

            this.handleClick = this.handleClick.bind(this);
            this.changeState = this.changeState.bind(this);
        }


        changeState(){
            let shown = this.state.shown;
            this.setState({
                shown: (shown == true) ? false : true
            })
        }

        handleClick(event){
            event.preventDefault();
            this.changeState
        }

        render(){
            let mmHeader = 'Meeting Minutes';
            let mmDescription= 'Отчеты по встречам с клиентами';
            let mmLink="find_client.html";

            let plansHeader = 'Планы 2019';
            let plansDescription ='Данные по планам вертикали на 2019 год';
            let plansLink= "plans.html";

            let paHeader = 'Личный кабинет';
            let paDescription ='Личные показатели и задачи';
            let paLink= "pa.html";

            let reportsHeader = 'Отчетность';
            let reportDescription = 'Отчеты по клиентам и остаткам';
            let reportLink= 'reports.html'

            return (
                    <div>
                        <MinutesModalWindow
                            flag = {this.state.shown}
                            clickHandler={this.changeState}/>
                        <div className="indexLogoBox">
                            <img id="future_img" src="./future_is_you.svg" />
                            <img id="lhermitage_img" src="./lhermitage_logo.png" />
                            <div className="clearFix"></div>
                        </div>
                        <div className="menuItemsConteiner">
                        <MenuElement
                            onClick = {this.handleClick}
                            className="menuElement meLeft"
                            link={mmLink}
                            header={mmHeader}
                            description={mmDescription}
                        />
                        <MenuElement
                            className="menuElement meRight"
                            link={plansLink}
                            header={plansHeader}
                            description={plansDescription}
                        />
                        <MenuElement
                            className="menuElement meLeft"
                            link={paLink}
                            header={paHeader}
                            description={paDescription}
                        />
                        <MenuElement
                        className="menuElement meRight"
                            link={reportLink}
                            header={reportsHeader}
                            description={reportDescription}
                        />
                        </div>
                        <div className="clearFix"></div>
                    </div>
            )
        }
    }


    ReactDOM.render(
        <MainPage />,
        document.getElementById('app')
    )
</script>
<div id="app">
</div>

</body>
</html>